nav {
  background-color: #111111;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  margin: 0;
  font-size: 32px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav li {
  cursor: pointer;
  font-size: 18px;
}